.tf__breadcrumb_text base>span,
.tf__breadcrumb_text base>span a,
.tf__breadcrumb_text base>span>a>span {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--colorWhite);
    padding-right: 30px;
    position: relative;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.tf__breadcrumb_text base {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
    align-items: center !important;
    position: relative !important;
    z-index: 1 !important;
}